* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

/* Project NO : 1 BUTTON CLICK ON OFF */
/* 
#OFF {
    height: 100px;
    width: 100px;
    color: red;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: larger;
}
.ON {
    height: 100px;
    width: 100px;
    background-color: yellowgreen;
    color: red;
    position: absolute;
    left: 30%;
    top: 30%;
    font-size: larger;
} */



/* Project NO : 4 USE  KEYDOWN EVENTLISNER. */
/* #box{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #222;
}
h1{
    color:red;
    font-size: 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    font-weight: 300;
} */



/* 
Project NO : 5 USE  OF CLICK AND CHANGE EVENTLISTENER.
#file{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input{
    display: none;
}
#btn{
    text-transform: capitalize;
    height: 60px;
    min-width: 120px; 
    background-color: aqua;
    border:none;
    font-weight: 500;
    font-size: large;
} */


/* 
Project NO : 6 USE  OF SUBMIT EVENTLISTENER. IF WE SUBMIT FORM THEN APEAR NEW CARD WITH FORM VALUES .
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

#main {
    padding: 100px 100px;
}

.profile {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    top: 10px;
    height: 200px;
    max-width: 200px;
    background-color: aquamarine;
    padding: 10px;
} */



/* 
Project NO : 7 USE  OF MOUSEOVER EVENTLISTENER. IF WE MOVE MOUSE  THEN WITH OVER DIV MOVE WITH MOUSE MOVEMENT.
#box{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: yellow;
    
} */